<nav>
    <h1><a routerLink="">
        Ecomm</a>
    </h1>
    <div *ngIf="menuType==='default'" class="navsearch">
        <input #search (keyup)="searchProduct($event)" (blur)=hideSearch() type="text" placeholder="enter the product name">
        <button (click)="searching(search.value)">search</button>
        <ul class="suggested-search" *ngIf="searchResult">
            <li *ngFor="let item of searchResult">
                <a (mousedown)="redirectDetails(item.id)">{{item.name}}</a>
            </li>
        </ul>
    </div>
    <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
        <li><a routerLink="/seller">Seller</a></li>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/userauth">Login/Sign UP</a></li>
        <li><a href="#">Cart({{cartItems}})</a></li>
    </ul>
    <ul *ngSwitchCase="'sellermenu'">
        <li><a routerLink="seller-add-product">Add Product</a></li>
        <li><a routerLink="seller-home">List</a></li>
        <li><a (click)="logout()">Logout</a></li>
        <li><a href="#">{{sellerName|titlecase}}</a></li>
    </ul>
    <ul *ngSwitchCase="'usermenu'">
        <li><a routerLink="/seller">Seller</a></li>
        <li><a routerLink="">Home</a></li>
        <li><a>{{userName | titlecase}}</a></li>
        <li><a (click)="logoutUser()">Logout</a></li>
        <li><a routerLink="/cartpage">Cart({{cartItems}})</a></li>
    </ul>
</div>
</nav>