nav {
    display: flex;
    padding-top: 15px;
}

nav h1 {
    color: blueviolet;
    margin-top: 0%;
}

.navsearch {
    text-align: center;
    margin-top: 8px;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 10px;
}

input {
    border-color: blueviolet;
    border-right: none;
}

button {
    color: blueviolet;
}

ul {
    margin-top: 0%;
    width: 60%;
    height: 60%;
    display: flex;
    list-style: none;
}

ul li {
    padding: 10px;
}

li a {
    text-decoration-line: none;
    cursor: pointer;
}
a{
    color: blueviolet;
}
h1 a{
    color: blueviolet;
    text-decoration: none;
}
.suggested-search{
    top: 40px;
    z-index: 10; 
    display: list-item !important;
    background-color: #fff;
    width: 200px;
}
.suggested-search li{
    padding: 5px;
    border:1px solid #ddd;
}
.suggested-search li a{
    cursor: pointer;
    color:blueviolet
}