<table class="table table-striped">
    <thead>
  <tr>
    <th scope="col">image</th>
    <th scope="col">productname</th>
    <th scope="col">price</th>
    <th scope="col">category</th>
    <th scope="col">color</th>
    <th scope="col">description</th>
    <th scope="col">Action</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let item of productDetails">
    <td><img src="{{item.image}}"/></td>
    <td>{{item.name}}</td>
    <td>{{item.price}}</td>
    <td>{{item.category}}</td>
    <td>{{item.color}}</td>
    <td>{{item.description}}</td>
    <td><fa-icon (click)="del(item.id)" [icon]="icon"></fa-icon><a routerLink="/seller-updater-product/{{item.id}}"><fa-icon [icon]="editicon"></fa-icon></a></td>
  </tr>
</tbody>
</table>