<div *ngIf="!show" class="seller">
    <h1>Seller sign up</h1>
    <form #sellersignup="ngForm" (ngSubmit)="signup(sellersignup.value)">
    <input type="text" placeholder="enter your name" name="name" ngModel><br><br>
    <input type="email" placeholder="enter your email" name="email" ngModel><br><br>
    <input type="password" placeholder="enter your password" name="password" ngModel><br><br>
    <button>sign up</button><br><br>
    <a (click)="tologin()">already have a account click here to login</a>
    </form>
    </div>
    <div *ngIf="show" class="login">
        <h1>Login</h1>
        <p>{{nouserfounderror}}</p>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
        <input type="email" placeholder="enter your email" name="email" ngModel><br><br>
        <input type="password" placeholder="enter your password" name="password" ngModel><br><br>
        <button>login</button><br><br>
        <a (click)="tosignup()">Don't have a account click here to signup</a>
        </form>
        </div>