<div class="product">
    <h1>update product Details</h1><br><br>
    <p>{{updatemessage}}</p>
    <form #newDetails="ngForm" (ngSubmit)="updateProd(newDetails.value)">
    <input type="text" placeholder="enter product name" name="name" ngModel="{{Data?.name}}"><br><br>
    <input type="text" placeholder="enter product price" name="price" ngModel="{{Data?.price}}"><br><br>
    <input type="text" placeholder="enter product category" name="category" ngModel="{{Data?.category}}"><br><br>
    <input type="text" placeholder="enter product color" name="color" ngModel="{{Data?.color}}"><br><br>
    <textarea type="text" placeholder="enter product description" name="description" ngModel="{{Data?.description}}"></textarea><br><br>
    <input type="text" placeholder="enter product Image url" name="image" ngModel="{{Data?.image}}"><br><br>
    <button>update Product</button><br><br>
    </form>
</div>