<div id="carouselExampleIndicators" class="carousel-slide" data-ride="carousel" *ngIf="popularProducts">
  <div class="carousel-inner">
    <div class="carousel-item " [class.active]="isFirst"
      *ngFor="let product of popularProducts;index as i;first as isFirst;last as isLast; even as isEven; odd as isOdd">
      <a routerLink="/details/{{product.id}}" ><img class="d-block w-50" src="{{product.image}}" alt="First slide"></a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="sr-only">Next</span>
    <span class="carousel-control-next-icon" aria-hidden="true"></span> 
  </a>
</div>
<div class="product-list-wrapper">
  <h1> Trendy products</h1>
  <div class="row">
    <div class="col-sm-3" *ngFor="let item of trendyProducts">
      <div class="product-item">
        <img
          src="{{item.image}}"
          alt="">
        <div class="product-details">
          <h6 class="name-head">{{item.name}}</h6>
          <div class="product-price">
            <h6>price:{{item.price}}</h6>
          </div>
          <div class="product-color">
            <h6>color:{{item.color}}</h6>
          </div>
        </div>
        <div class="product-footer">
          <a routerLink="/details/{{item.id}}">view details</a>
          <a href="">add to cart</a>
        </div>
      </div>
    </div>
  </div>
</div>